@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.app {
  padding-top: 5%;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 30px;
}
.wrapper {
  max-width: 400px;
  margin: 0 auto;
}
